body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
		margin:0;
		padding:0;
	}
	.wrapper{
		width: 96%;
		max-width: 920px;
		margin: auto;
		padding: 2%;
	}
    nav {
    	font-family: Arial, Helvetica, sans-serif;
		background: #069;
		font-size: 24px;
		font-weight: 900;
		color: white;
		width: 100%;
		padding: 7px;
		text-align: center;
    }
    .buildlist {
		border: 1px #ccc solid;
    }
    .instructions {
		font-size: 12pt;
		font-family: Arial, Helvetica, sans-serif;
		padding: 7px;
		font-weight: 900;
    }
	.downloadbutton{
		background: orange;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12pt;
		color: white;
		width: 57px;
		text-align: center;
		float: right;
		padding:7px;
		font-weight: 400;
	}
    table {
		width: 100%;
		border-collapse: collapse; 
    }
	
	tr { 
		border-bottom: 1px solid #ccc; 
		height:50px;
	}
	
	td {
		padding: 5px;
	}
	a:link {text-decoration:none;}    /* unvisited link */
	a:visited {text-decoration:none;} /* visited link */
	a:hover {text-decoration:none;}   /* mouse over link */
	a:active {text-decoration:none;}  /* selected link */